.item {
  border-bottom: 1px solid lightgrey;
  position: relative;
  --pad-x: 20px;
  --pad-y: 12px;
}

.item--active::after {
  transform: rotate(180deg);
}

.item--active > .item__content {
  max-height: 100vh;
}

.item__switch {
  display: block;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0.5em 1px lightgrey;
  }
}

.item__title {
  padding: var(--pad-y) var(--pad-x);
  padding-right: 30px;
  text-align: left;
}

.item::after {
  content: "";
  transition: transform 0.5s;
  background: url('./chevron-down.svg') center no-repeat;
  position: absolute;
  right: 15px;
  top: calc(var(--pad-x) + 2px);
  width: 14px;
  height: 14px;
}

.item__content {
  transition: max-height 0.5s linear;
  overflow-y: hidden;
  max-height: 0px;
}

.item__text {
  padding: 0 var(--pad-x) var(--pad-y);
}



@media (min-width: 768px) {
  .item {
    --pad-x: 22px;
    --pad-y: 14px;
  }
}